/*
	Style overrides for Library
*/

@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Noto Sans'), local('NotoSans'), url('/assets/fonts/notosans.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 400;
	src: local('Quicksand Regular'), local('Quicksand-Regular'), url('/assets/fonts/quicksand.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
	font-family: "Noto Sans", Helvetica, sans-serif;
	background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("../img/bg-library.jpg");
	text-align: justify;
}

#wrapper > header {
	text-align: left;
}

h3.major {
	text-align: left;
}

#footer .inner .copyright {
	border: none;
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 1280px) {
	body {
		font-family: "Quicksand", Helvetica, sans-serif;
	}
	#wrapper > header {
		background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("../img/bg-library.jpg");
	}

	#footer {
		background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url("../img/bg-library.jpg");
	}

}
